/bundleAdjustment/x64/Debug/bundleAdjustment/*.idb
/bundleAdjustment/x64/Debug/*.ilk
/bundleAdjustment/x64/Debug/bundleAdjustment/bundleAdjustment.tlog/*.lastbuildstate
/bundleAdjustment/x64/Debug/bundleAdjustment/*.log
/bundleAdjustment/x64/Debug/bundleAdjustment/*.obj
/bundleAdjustment/*.opensdf
/bundleAdjustment/CompiledShaders/*.p
/bundleAdjustment/x64/Debug/*.pdb
/bundleAdjustment/x64/Debug/bundleAdjustment/*.pdb
/bundleAdjustment/*.sdf
/bundleAdjustment/*.suo
/bundleAdjustment/x64/Debug/bundleAdjustment/bundleAdjustment.tlog/*.tlog
/OpenCVTest/Debug/*.log
/OpenCVTest/Debug/*.pdb
/OpenCVTest/Debug/OpenCVTest.tlog/*.tlog
/OpenCVTest/Debug/OpenCVTest.tlog/*.lastbuildstate
/OpenCVTest/Debug/OpenCVTest.tlog/*
/OpenCVTest/Debug/*.obj
/OpenCVTest/Debug/*.idb
/OpenCVTest/*.exe
/OpenCVTest/*.opensdf
/OpenCVTest/*.sdf
/OpenCVTest/OpenCVTest.v12.suo
/OpenCVTest/*.jpg
/OpenCVTest/x64/Debug/*.exe
/OpenCVTest/x64/Debug/*.ilk
/OpenCVTest/x64/Debug/*.log
/OpenCVTest/x64/Debug/*.pdb
/OpenCVTest/x64/Debug/OpenCVTest.tlog/*.tlog
/OpenCVTest/x64/Debug/OpenCVTest.tlog/*.lastbuildstate
/OpenCVTest/x64/Debug/*.obj
/OpenCVTest/x64/Debug/*.idb
/OpenCVTest/x64/Release/*.exe
/OpenCVTest/x64/Release/*.log
/OpenCVTest/x64/Release/*.pdb
/OpenCVTest/x64/Release/OpenCVTest.tlog/*.lastbuildstate
/OpenCVTest/x64/Release/OpenCVTest.tlog/*.tlog
/OpenCVTest/x64/Release/*.obj
/bundleAdjustment/*.user
/bundleAdjustment/x64/Release/*.exe
/bundleAdjustment/x64/Release/*.pdb
/bundleAdjustment/x64/Release/bundleAdjustment/*.obj
/bundleAdjustment/x64/Release/bundleAdjustment/*.log
/bundleAdjustment/x64/Release/bundleAdjustment/bundleAdjustment.tlog/*.tlog
/bundleAdjustment/x64/Release/bundleAdjustment/bundleAdjustment.tlog/*.lastbuildstate
/bundleAdjustment/x64/Release/bundleAdjustment/*.pdb
/bundleAdjustment/x64/Release/freakBundler/*.log
/bundleAdjustment/x64/Release/freakBundler/freakBundler.tlog/*.tlog
/bundleAdjustment/x64/Release/freakBundler/freakBundler.tlog/*.lastbuildstate
/bundleAdjustment/x64/Release/freakBundler/freakBundler.tlog/*
/bundleAdjustment/x64/Release/freakBundler/*.obj
/bundleAdjustment/x64/Release/freakBundler/*.pdb
/bundleAdjustment/imageAOut.png
/bundleAdjustment/imageBOut.png
/data/sensors/sample.sensor
